button {
  border: solid 2px #000;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}

button.solid {
  background-color: #000;
  color: #fff;
}
